{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
        {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
    <article class="{{post_class}} col sm12 m6 l4">
        <a class="post__link--fullpage" href="{{url}}"></a>
        <div class="card hoverable" style="background-image:url({{image}}); height: 450px; border: 10px solid #fff; cursor: pointer;">
            <div class="card-content">
                <div class="post-bg-adjust"></div>
                <div class="post-adjust">
                    <div class="post-data">
                        <header class="post-header">
                            <h2 class="post-title card-title">
                                <a href="{{url}}">{{title}}</a>
                            </h2>
                        </header>
                        <section class="post-excerpt">
                            <p>{{excerpt words="26"}}<a class="read-more" href="{{url}}">...</a></p>
                        </section>
                        <footer class="post-meta">
                            <div style="display: none;">
                                {{author}}
                            </div>
                            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                            <br><br>
                            {{tags prefix="" separator=""}}
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
<div class="pagination-bg">
    {{pagination}}
</div>
