{{!< default}}

{{> "headers/header-management"}}

<main id="services" class="services" role="main">

    <div class="container">
        <div class="row row-0">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image" style="background-image: url({{asset "images/yachts/engineroom-1.jpg"}})">
                        {{!--<img src="{{asset "images/yachts/engineroom-1.jpg"}}">--}}
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Technical Operations</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                            In every port throughout the eastern Adriatic
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/menu/accounting.jpg"}}">
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Accounting &amp; Budget Management</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                            From quick fixes to total refits
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-1">
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image" style="background-image: url({{asset "images/yachts/crew.png"}})">
                        <span class="card-title" style="text-shadow: 1px 1px 2px black;">Crew Managment</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                            Local produce. Fresh fish. Tender meats. Regional specialties. We offer top quality products you rely on.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card card--full" href="#">
                    <div class="card-image">
                        <img src="{{asset "images/menu/croatian-flag.jpg"}}">
                        <div class="card-overlay"></div>
                        <span class="card-title">Yacht Registration and Corporate Services</span>
                    </div>
                    <div class="card-reveal">
                        <div>
                            <div class="card-line"></div>
                            <p>
                            Private tours. Hotel &amp; villa rentals. Luxury transport. And any other hospitality service you might need.
                            </p>
                            <div class="card-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

</main>

{{> footer}}