<header class="carousel-header">
    {{#if @blog.navigation}}
        <a href="#" data-activates="slide-out" class="nav__menu-toggle"><i class="material-icons icon">menu</i><span class="nav__menu-button">Menu</span></a>
    {{/if}}
    <h1 class="">M/Y Brazil</h1>
    <a href="/">
        <img class="logo" src="{{asset "images/logo.png"}}" alt="logo" />
    </a>

    <div class="header-carousel">
        <div class="carousel-cell"><img src="{{asset "images/charter/brazil/main-1.jpg"}}"></div>
        <div class="carousel-cell"><img src="{{asset "images/charter/brazil/main-2.jpg"}}"></div>
        <div class="carousel-cell"><img src="{{asset "images/charter/brazil/main-3.jpg"}}"></div>
    </div>

    <img class="header-img--mobile" src="{{asset "images/charter/brazil/mobile/mob-main-1.jpg"}}" />
</header>
