<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
      <div class="_dis-ib _te-ar tab_w-01 mob_w-01 mob_p media-block__inner-item">
        <h1 class="media-block__title media-block__title--right">Interior</h1>
        <p class="_te-aj">
          The luxurious interior includes 5 guest cabins, as well as multiple relaxation and dining areas. Simply put, there is plenty of space to escape into.
        </p>
        <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#interior">View More</a>
      </div>
    </div>
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/brazil/interior-1.jpg"}});" alt="interior"></div>
    </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/brazil/exterior-1.jpg"}});" alt="interior"></div>
    </div>
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
        <div class="_dis-ib _te-al tab_w-01 mob_w-01 mob_p media-block__inner-item">
          <h1 class="media-block__title media-block__title--left">Exterior</h1>
          <p class="_te-aj">
            A sundeck with dining table, barbecue and <strong>jacuzzi</strong>. A mid deck with lounge chairs and sofas. An aft deck dining area. Enjoy sun and shade however you choose.
          </p>
          <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#exterior">View More</a>
        </div>
    </div>
  </div>
</div>

<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom info-card _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_te-ac mob_p">
          <h1 class="card-title" style="margin-bottom: 40px;">Specifications</h1>
          {{!--<h6 style="margin: 0; margin-bottom: 40px;">Specifications</h6>--}}
          <div class="row">
            <div class="col s12 m10 l4 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Length</p>
                    <p class="info-card__column-title">Year Built</p>
                    <p class="info-card__column-title">Refit</p>
                    <p class="info-card__column-title">Sleeps</p>
                    <p class="info-card__column-title">Crew</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">40m / 131ft</p>
                    <p class="info-card__column-text">1993</p>
                    <p class="info-card__column-text">2016</p>
                    <p class="info-card__column-text">10</p>
                    <p class="info-card__column-text">8</p>
                </div>
              </div>
            </div>
            <div class="col s12 m10 l4 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Beam</p>
                    <p class="info-card__column-title">Draft</p>
                    <p class="info-card__column-title">Builder</p>
                    <p class="info-card__column-title">Flag</p>
                    <p class="info-card__column-title">Cruising Speed</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">8.4m / 27.8 ft</p>
                    <p class="info-card__column-text">2.0 m / 6.56 ft</p>
                    <p class="info-card__column-text">Heesen</p>
                    <p class="info-card__column-text">Croatia</p>
                    <p class="info-card__column-text">14 knots</p>
                </div>
              </div>
            </div>
            <div class="col s12 m10 l4 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">No. Cabins</p>
                    <p class="info-card__column-title">Tender</p>
                    <p class="info-card__column-title">Toys</p>
                    <p class="info-card__column-title">Engines</p>
                    <p class="info-card__column-title">Fuel Consumption</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">5</p>
                    <p class="info-card__column-text">9.5m Scanner</p>
                    <p class="info-card__column-text">2 Wave Runners</p>
                    <p class="info-card__column-text">2xMTU 200hp</p>
                    <p class="info-card__column-text">250 l/h</p>
                </div>
              </div>
            </div>
          </div>
          {{!--<p class="_w-80 _dis-ib _te-aj mob_w-01" style="letter-spacing: 1px;">
            With speeds up to <strong>19 knots</strong> and a cruising range of <strong>3000nm</strong>, this custom built Heesen yacht offers a luxury escape that puts all of the Adriatic Sea at your disposal.  And being based out of beautiful Croatia and Montenegro, with over 1000 islands, countless hidden bays, and UNESCO recognized historic locations such as Dubrovnik and Kotor, motor yacht Brazil definitely offers a rewarding and unique yachting experience.
          </p>--}}
          {{!--<div style="width: 100%; text-align: center;">
            <span><i class="fa fa-book" aria-hidden="true" style="margin-right: 10px;"></i>Brochure</span>
            <span><i class="fa fa-file-text" aria-hidden="true" style="margin-right: 10px; margin-left: 20px;"></i>Specs</span>
          </div>--}}
          <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 14px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rates: EUR 100,000 - 110,000 p/w + APA</h6>
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>

<h2 class="mobile-only" style="text-align: center;">Interior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-4.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-6.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-7.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-5.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-8.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-9.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-10.jpg"}}"></div>
    {{!--<div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-11.jpg"}}"></div>--}}
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-12.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-13.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-14.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-15.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-16.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-18.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-17.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-20.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-22.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-21.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/interior-19.jpg"}}"></div>
</div>

<h2 class="mobile-only" style="text-align: center; margin-top: 20px;">Exterior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-0.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-4.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-5.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-6.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-7.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-8.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-9.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-10.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-11.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-12.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-13.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-14.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-15.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-16.jpg"}}"></div>
    {{!--<div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-17.jpg"}}"></div>--}}
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-18.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-19.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-20.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-21.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-22.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/exterior-23.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/mobile/main-1.jpg"}}"></div>
</div>

<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large">
      <i class="large material-icons">file_download</i>
    </a>
    <ul>
      <li><a class="btn-floating highlight-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Itinerary" href="{{asset "images/charter/brazil/Brazil_Itinerary-Split_to_Dubrovnik.pdf"}}" download="Brazil_Itinerary" target="_blank"><i class="material-icons">directions_boat</i></a></li>
      <li><a class="btn-floating highlight-2 tooltipped" data-position="top" data-delay="50" data-tooltip="Brochure" href="{{asset "images/charter/brazil/Brazil_Charter_Brochure.pdf"}}" target="_blank"><i class="material-icons">insert_chart</i></a></li>
    </ul>
  </div>
  