</div>

<!-- Modal - interior -->
<div id="interior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-7.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-8.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-9.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-10.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-12.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-13.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-14.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-15.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-16.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-18.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-17.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-20.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-22.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-21.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-19.jpg"}}"></div>
        </div>
    </div>
</div>

<!-- Modal - exterior -->
<div id="exterior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-0.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-7.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-8.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-9.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-10.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-11.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-12.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-13.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-14.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-15.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-16.jpg"}}"></div>
            {{!--<div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-17.jpg"}}"></div>--}}
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-18.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-19.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-20.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-21.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-22.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/exterior-23.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/brazil/main-1b.jpg"}}"></div>
        </div>
    </div>
</div>
