</div>

<!-- Modal - interior -->
<div id="interior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-7.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-8.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-9.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/interior-10.jpg"}}"></div>
        </div>
    </div>
</div>

<!-- Modal - exterior -->
<div id="exterior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/moonraker/exterior-6.jpg"}}"></div>
        </div>
    </div>
</div>
