<!-- Modal - contact -->
<div id="modal-contact" class="modal modal--base bottom-sheet">
    {{> "social/contact-form"}}
</div>
</div>

<!-- Modal - interior -->
<div id="interior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-7.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/interior-8.jpg"}}"></div>
        </div>
    </div>
</div>

<!-- Modal - exterior -->
<div id="exterior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/exterior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/exterior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/exterior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/lady_sunshine/exterior-4.jpg"}}"></div>
        </div>
    </div>
</div>
