<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_dis-ib _te-ac mob_p">
          <h1 style="margin-bottom: 5px;">M/Y Brazil</h1>
            <h6 style="margin: 0; margin-bottom: 20px;">Summer on the Adriatic</h6>
              <p class="_w-80 _dis-ib _te-aj mob_w-01" style="letter-spacing: 1px;">
                With speeds up to <strong>19 knots</strong> and a cruising range of <strong>3000nm</strong>, this custom built Heesen yacht offers a luxury escape that puts all of the Adriatic Sea at your disposal.  And being based out of beautiful Croatia and Montenegro, with over 1000 islands, countless hidden bays, and UNESCO recognized historic locations such as Dubrovnik and Kotor, motor yacht Brazil definitely offers a rewarding and unique yachting experience.
              </p>
              <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 12px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rates: EUR 100,000 - 110,000 p/w + APA</h6>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
      <div class="_dis-ib _te-ar tab_w-01 mob_w-01 mob_p media-block__inner-item">
        <h1 class="media-block__title media-block__title--right">Interior</h1>
        <p class="_te-aj">
          The luxurious interior includes 5 guest cabins, as well as multiple relaxation and dining areas. Simply put, there is plenty of space to escape into.
        </p>
        <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#interior">View More</a>
      </div>
    </div>
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/brazil/interior-1.jpg"}});" alt="interior"></div>
  </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/brazil/deck-1.jpg"}});" alt="interior"></div>
    </div>
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
        <div class="_dis-ib _te-al tab_w-01 mob_w-01 mob_p media-block__inner-item">
          <h1 class="media-block__title media-block__title--left">Exterior</h1>
          <p class="_te-aj">
            A sundeck with dining table, barbecue and <strong>jacuzzi</strong>. A mid deck with loung chairs and sofas. An aft deck dining area. Enjoy sun and shade however you choose.
          </p>
          <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#exterior">View More</a>
        </div>
    </div>
  </div>
</div>

<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/main.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/interior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/deck-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/brazil/sundeck-1.jpg"}}"></div>
</div>