</div>

<!-- Modal - interior -->
<div id="interior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-7.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-8.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-9.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-10.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-11.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-12.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-13.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/interior-14.jpg"}}"></div>
        </div>
    </div>
</div>

<!-- Modal - exterior -->
<div id="exterior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-4.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-5.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/exterior-6.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/pida/main-4.jpg"}}"></div>
        </div>
    </div>
</div>
