<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
      <div class="_dis-ib _te-ar tab_w-01 mob_w-01 mob_p media-block__inner-item">
        <h1 class="media-block__title media-block__title--right">Interior</h1>
        <p class="_te-aj">
           Annabel II has a master stateroom with a king sized bed, a VIP stateroom with a Queen bed, and 2 cabins with twin beds and additional pullmans. She also features European styling and a high gloss cherry wood throughout the interior.
        </p>
        <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#interior">View More</a>
      </div>
    </div>
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/annabel_II/interior-1.jpg"}});" alt="interior"></div>
  </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/annabel_II/exterior-1.jpg"}});" alt="interior"></div>
    </div>
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
        <div class="_dis-ib _te-al tab_w-01 mob_w-01 mob_p media-block__inner-item">
          <h1 class="media-block__title media-block__title--left">Exterior</h1>
          <p class="_te-aj">
              Dine on the aft or sun decks. Relax in the spa. Or just take in the sun and views from ample seating both forward and back of the ship. Annabel II offers plenty of deck space.
          </p>
          <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#exterior">View More</a>
        </div>
    </div>
  </div>
</div>

<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom info-card _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_te-ac mob_p">
          <h1 class="card-title" style="margin-bottom: 40px;">Specifications</h1>
          <div class="row">
            <div class="col s12 m10 l6 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Length</p>
                    <p class="info-card__column-title">Year Built</p>
                    <p class="info-card__column-title">Refit</p>
                    <p class="info-card__column-title">Sleeps</p>
                    <p class="info-card__column-title">Crew</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">29.60m / 97ft</p>
                    <p class="info-card__column-text">2009</p>
                    <p class="info-card__column-text">2016</p>
                    <p class="info-card__column-text">10</p>
                    <p class="info-card__column-text">4</p>
                </div>
              </div>
            </div>
            <div class="col s12 m10 l6 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Beam</p>
                    <p class="info-card__column-title">Draft</p>
                    <p class="info-card__column-title">Builder</p>
                    <p class="info-card__column-title">Cruising Speed</p>
                    <p class="info-card__column-title">No. Cabins</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">6.7m / 22ft</p>
                    <p class="info-card__column-text">2m / 6.5ft</p>
                    <p class="info-card__column-text">Horizon</p>
                    <p class="info-card__column-text">10 knots</p>
                    <p class="info-card__column-text">4</p>
                </div>
              </div>
            </div>
          </div>
          <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 14px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rates: EUR 44,000 - 49,900 p/w + APA</h6>
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>

<h2 class="mobile-only" style="text-align: center;">Interior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-4.jpg"}}"></div>
</div>

<h2 class="mobile-only" style="text-align: center;">Exterior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/main-2b.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/exterior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/exterior-2.jpg"}}"></div>
</div>