</div>

<!-- Modal - interior -->
<div id="interior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-2.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-3.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/interior-4.jpg"}}"></div>
        </div>
    </div>
</div>

<!-- Modal - exterior -->
<div id="exterior" class="modal modal--carousel">
    <div class="modal-content">
        <div class="main-carousel">
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/main-2b.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/exterior-1.jpg"}}"></div>
            <div class="carousel-cell"><img src="{{asset "images/charter/annabel_II/exterior-2.jpg"}}"></div>
        </div>
    </div>
</div>
