{{!--<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_dis-ib _te-ac mob_p">
          <h1 class="card-title" style="margin-bottom: 5px;">M/Y Tuscan Sun</h1>
            <h6 style="margin: 0; margin-bottom: 20px;">A Speedy FIPA</h6>
              <p class="_w-80 _dis-ib _te-aj mob_w-01" style="letter-spacing: 1px;">
                This triple deck displacement motor yacht has a lot of volume. Rebuilt in 2014 with original Versace fabrics and real gold fittings, she also features a unique LED lighting system. Cruise the Adriatic in luxury and style.
              </p>
              <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 14px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rate: EUR 56,000 - 62,000 + APA</h6>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>--}}

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
      <div class="_dis-ib _te-ar tab_w-01 mob_w-01 mob_p media-block__inner-item">
        <h1 class="media-block__title media-block__title--right">Interior</h1>
        <p class="_te-aj">
          Accommodations are in large cabins consisting of a full beam Master stateroom and 2 double bed and 2 twin bed cabins, each with additional pullman.
        </p>
        <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#interior">View More</a>
      </div>
    </div>
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/tuscan_sun/interior-1.jpg"}});" alt="interior"></div>
  </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/tuscan_sun/exterior-1.jpg"}});" alt="interior"></div>
    </div>
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
        <div class="_dis-ib _te-al tab_w-01 mob_w-01 mob_p media-block__inner-item">
          <h1 class="media-block__title media-block__title--left">Exterior</h1>
          <p class="_te-aj">
              This sport yacht offers 2 alfresco dining options and 3 separate areas for lazing under the sun.
          </p>
          <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#exterior">View More</a>
        </div>
    </div>
  </div>
</div>

<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom info-card _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_te-ac mob_p">
          <h1 class="card-title" style="margin-bottom: 40px;">Specifications</h1>
          <div class="row">
            <div class="col s12 m10 l6 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Length</p>
                    <p class="info-card__column-title">Year Built</p>
                    <p class="info-card__column-title">Refit</p>
                    <p class="info-card__column-title">Sleeps</p>
                    <p class="info-card__column-title">Crew</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">32.50m / 106.5ft</p>
                    <p class="info-card__column-text">2008</p>
                    <p class="info-card__column-text">2016</p>
                    <p class="info-card__column-text">12</p>
                    <p class="info-card__column-text">5</p>
                </div>
              </div>
            </div>
            <div class="col s12 m10 l6 offset-m1">
              <div class="row info-card__inner-row">
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-title">Beam</p>
                    <p class="info-card__column-title">Draft</p>
                    <p class="info-card__column-title">Builder</p>
                    <p class="info-card__column-title">Cruising Speed</p>
                    <p class="info-card__column-title">No. Cabins</p>
                </div>
                <div class="col s6 m6 l6 info-card__inner-column">
                    <p class="info-card__column-text">6.76m / 22.2ft</p>
                    <p class="info-card__column-text">2.36m / 7.8ft</p>
                    <p class="info-card__column-text">Maiora</p>
                    <p class="info-card__column-text">23 knots</p>
                    <p class="info-card__column-text">5</p>
                </div>
              </div>
            </div>
          </div>
          <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 14px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rates: EUR 56,000 - 62,000 p/w + APA</h6>
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>

<h2 class="mobile-only" style="text-align: center;">Interior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-5.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-6.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-7.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-8.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-9.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-10.jpg"}}"></div>
</div>

<h2 class="mobile-only" style="text-align: center;">Exterior</h2>
<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/main-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-4.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-5.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-6.jpg"}}"></div>
</div>
