<div class="_clfx _w-01 card__wrapper">
    <div class="card--custom _flex _p-4 mob_p-0">
      <div class="_v-a-m _flex-item _te-ac _w-01">
        <div class="_dis-ib _te-ac mob_p">
          <h1 class="card-title" style="margin-bottom: 5px;">M/Y Tuscan Sun</h1>
            <h6 style="margin: 0; margin-bottom: 20px;">A Speedy FIPA</h6>
              <p class="_w-80 _dis-ib _te-aj mob_w-01" style="letter-spacing: 1px;">
                This triple deck displacement motor yacht has a lot of volume. Rebuilt in 2014 with original Versace fabrics and real gold fittings, she also features a unique LED lighting system. Cruise the Adriatic in luxury and style.
              </p>
              <h6 class="_w-01-2 mob_w-01 mob_te-a-c" style="display: block; color: #333; font-size: 14px; margin: 0 auto; font-family: Raleway; letter-spacing: 1px; text-align: center; padding: 10px 0;">Rate: EUR 56,000 - 62,000 + APA</h6>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn btn--dark" href="#modal-contact" style="margin: 20px 0;">Contact Us</a>
        </div>
      </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
      <div class="_dis-ib _te-ar tab_w-01 mob_w-01 mob_p media-block__inner-item">
        <h1 class="media-block__title media-block__title--right">Interior</h1>
        <p class="_te-aj">
          Her interior was designed by Zuretti, and sports 5 staterooms - 1 master, as well as 2 VIP double beds and 2 twin beds.
        </p>
        <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#interior">View More</a>
      </div>
    </div>
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/tuscan_sun/interior-1.jpg"}});" alt="interior"></div>
  </div>
  </div>
</div>

<div class="media-block _w-01">
  <div class="card--custom card--no-pad card--mobile-hide">
    <div class="media-block__item _w-01-2 mob_w-01">
      <div class="media-block__image" style="background-image: url({{asset "images/charter/tuscan_sun/exterior-1.jpg"}});" alt="interior"></div>
    </div>
    <div class="media-block__item _w-01-2 _v-a-m _te-ac mob_w-01">
        <div class="_dis-ib _te-al tab_w-01 mob_w-01 mob_p media-block__inner-item">
          <h1 class="media-block__title media-block__title--left">Exterior</h1>
          <p class="_te-aj">
              Enjoy the BBQ on the sky deck along with a <strong>Jacuzzi</strong>, or simply sunbathe and have some drinks at the bar.
          </p>
          <a class="waves-effect waves-light btn btn--dark media-block__link media-block__link--right modal-carousel" href="#exterior">View More</a>
        </div>
    </div>
  </div>
</div>

<div class="card--mobile-only mobile-carousel">
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/main-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/main-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/main-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-2.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-3.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-5.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/interior-6.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-1.jpg"}}"></div>
    <div class="carousel-cell"><img src="{{asset "images/charter/tuscan_sun/exterior-2.jpg"}}"></div>
</div>